

    .product-item__wrapper.checked{
            & .product-item{
                border-color:$red;

                &:hover{
                    border-color:$red;
                }

                &:after{
                    content:'';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color:#ff000094;
                    background-image:url('../img/check.svg');
                    background-size:20%;
                    background-position:center 30%;
                    background-repeat:no-repeat;
                    transition: all .3s ease-in-out;
                }

                &:before{
                    content:'Выбран';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    color:$white;
                    font-weight: 400;
                    font-size: 20px;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items:center;
                }
            }
        
    }

