.article{

    &-img{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
        overflow: hidden;
        margin-bottom: 20px;
        background:$white;
    }
    
    &-item{
        margin-bottom: 30px;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 5px;

        & small{
            margin-left: 10px;
        }

        &:hover{
            & .article-img-wrapper{
                & img{
                    -webkit-filter: brightness(80%);
                    filter: brightness(80%);
                    transform: scale(1.02);
                    transition: all .3s ease-in-out;
                }
            }
        }

        &  img{
            -webkit-filter: brightness(100%);
            filter: brightness(100%);
            transform: scale(1);
            transition: all .3s ease-in-out;
        }
    }

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        & img{
            max-width: 100%;
            width: auto;
            height: auto;
            max-height: 100%;
            transition: all .3s ease-in-out;
            transform: scale(1);
            -webkit-filter: brightness(100%);
            filter: brightness(100%);
        }
    }

    &-content{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &-title{
        display: inline;
        font-size: 18px;
        font-weight: 500;
        color:$black;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 10px;

        &:hover{

            color:#5e5e5e;

            & time{
                color:$black;
             }
    
        }
        & time{
            font-size: 13px;
            margin-right: 10px;
        }
    }

    &-desctiption{
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        margin-bottom: 10px;
        font-size: 14px;
    }

    &-content{
        &-description{
            width: 100%;
        }
    }

    &-all{
        color:$black;
        font-size: 14px;
        display: flex;
        position: relative;
        &:before{
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom:1px dashed $black;
        }

        &:hover{
            color:$black;
        }
    }
    
}

.blog{
    &-header{
        @extend .product-lines__header;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
    }
}