.product {
    &-slider {
        &__wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            // position: sticky;
            // top: 60px;
            width: 100%;
            max-width:50%;
            position: relative;

            @media (max-width: 992px){
                max-width:100%;
            }

        }

        &-nav{
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            overflow: hidden;

            &__item{
                width: 80px  !important;
                height: 80px !important;
                display: flex!important;
                justify-content: center;
                align-items: center;
                background: #fff;
                margin-bottom: 5px;
                overflow: hidden;
                outline: none;

                img {
                    width: auto;
                    height: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            @media(min-width:768px) and (max-width:992px) {
                    width: 80px;
            }

            @media(max-width: 768px){
                display: none;
            }
        }

        &-for{
            width: calc(100% - 110px);
            overflow: hidden!important;
            height: 100%;
            z-index: 1;

            @media(max-width: 768px){
                width: 100%;
            }

            &-dots{
                list-style: none;
                bottom: 0;
                left: 0;
                display: flex;
                position: absolute;
                width: 100%;
                justify-content: center;
                z-index: 1001;
                margin: 0;
padding-right: 20px;
                padding-left: 20px;

                & li{
                    width: 100%;
                    margin-right: 5px;
                    margin-left: 5px;                    
                    & button{
                        
                        width: 100%;
                        height: 2px;
                        background: $lightgrey;
                        font-size: 0;
                        border:none;
                    }
                    &.slick-active{
                        & button{
                        background:$black;
                        }
                    }
                }
            }

            & div {
                width: 100%;
            }

            & .slick-track {
                display: flex;
                align-items: center;
            }

            &__item {
                display: flex !important;
                align-items: center;
                justify-content: center;
                height: 100%;
            }

            & img {
                display: flex;
                width: auto;
                height: auto;
                max-height: 70vh;
                max-width: 100%;
            }
        }

        &-for, &-nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.arrow-slick-prev {
    transform-origin: center center;
    transform: rotate(-90deg);
    width: 12px;
}

.arrow-slick-next {
    transform-origin: center center;
    transform: rotate(90deg);
    width: 12px;
}

.custom_arrow {
    z-index: 1;
    font-size: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.custom_arrow:hover .arrow-slick-next,
.custom_arrow:hover .arrow-slick-prev {
    fill: #004d75;
    transition: all 0.3s ease-in-out;
}

