.product{
    &-detail{
        &-properties{
            &__wrapper{
                @extend .product-detail-top__wrapper;
                padding: 20px;
            }
        }

        &__properties{
            display: flex; 
            justify-content: flex-start;
            flex-flow: column nowrap;
            width: 100%;

            @media(max-width:767px){
                margin-bottom: 20px;

                &:last-child{
                    margin-bottom: 0;
                }
            }

            & button{
                border: none;
                outline: none;
                appearance: none;
                background: none;
                display: flex;
                justify-content: flex-start;
                color: $VIPgrey;
                font-size: 16px;
                text-align: left;
                padding: 5px;
                padding-right: 20px;
                position: relative;
                transition: all .3s ease-in-out;
                position: relative;
                margin-bottom: 5px;

                &:before{
                    content:'';
                    width: 100%;
                    height: 1px;
                    background: $VIPlightgrey;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                
                & svg{
                    position: absolute;
                    right: 0;    
                    top: 50%;
                    transform: translateY(-50%);
                    fill: $VIPgrey;
                    transition: all .3s ease-in-out;
                    width: 16px;
                        height: 16px;
                }

                &:focus{
                    outline: none;
                }

                &:hover{
                    transition: all .3s ease-in-out;
                    color: $black;

                    & svg{
                        transition: all .3s ease-in-out;
                        
                        fill: $black;
                    }

                    &:before{
                        background: $black;
                    }
                        
                }

                &[aria-expanded="true"]{
                    & .vertical-line{
                        transition: all .3s ease-in-out;
                        fill: transparent;
                }
                }
            }

            & .head{
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 30px;
                @media(max-width:767px){
                    margin-bottom: 10px;
                }
            }
        }
    }
    
}


#properties {

    & table{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;

        & tr{
            padding-top: 4px;
            padding-bottom: 4px;
        }

        & td.value{
            color:$VIPgrey;
            font-weight: 500;   
            font-size: 14px
        }

        & td.property{
            display: flex;
            justify-content: space-between;
            zoom: 1;
            width: 100%;
            background: url('./../img/dot.svg') 0 bottom  repeat-x;
            background-size: 2px;
            margin-bottom: 2px;
    
            & span{
                display: inline-block;
                background: $white;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                margin-bottom: -2px;
            }
        }
    }
}
