.product{
    &-detail{
        &__price{
            display: flex;
            justify-content: flex-start;
            align-items:flex-end;
            @media (max-width:420px){
                flex-direction: column;
                
            }
            
            &-old{
                @extend .product-item__wrapper-price_old; 
                height: 20px;
                position: relative;
                &-currency{
                    @extend .product-item__wrapper-price_old-currency;;

                }
            }
            &-new{
                @extend .product-item__wrapper-price_new;
                font-size: 30px !important;
                font-weight: 500 !important;
                &-currency{
                    @extend .product-item__wrapper-price_new-currency;
                    font-size: 18px !important;
                    font-weight: 500 !important;
                }
            }

        }

        &__availability{
            @media (max-width:420px){
                order: 1;
            }
        }
    }
}

.block-price{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
    padding: 0 15px;

    @media (max-width:420px){
        flex-direction: row;
    }
}