.product{

    &-detail {
        &-top {
            &__wrapper {
                margin-top: 20px;
                background: #fff;
                border: 1px solid #d8d8d8;
                border-radius: 4px;
                padding-bottom: 20px;
                box-shadow: rgba(0, 0, 0, 0.17) 0 0 5px;
                margin-bottom: 20px;
            }
        }

        &__description{
            @media(max-width: 767px){
                margin-top: 20px;
            }
        }
    }

    &-sku{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 15px;
        &-code{
        margin-left: 5px;
        }

        @media(max-width: 992px){
            justify-content: flex-start;
        }
    }
    
    &-info{
        padding: 20px;
        display: flex;
        flex-direction: column;

        @media(max-width: 575px){
            & .palette-block{
                order:3;
            }

            & .delivery-block{
                order:4
            }

        }
    }
}