.breadcrumb {
    display: flex;
    flex-flow: row nowrap;
    background: none;
    padding: 10px;
    overflow: auto;

    


    &-item {
        font: 400 14px 'Montserrat', sans-serif;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        white-space: nowrap;
        padding: 0!important;
        margin-right: 30px;

        & a{
            color: $VIPgrey;

            &:hover{
                color:$black;
            }
        }

        &:first-child{
            & a {
                padding-left: 20px;
            }
        } 

        & svg {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 40%;
            left: 0;
            transform: translateY(-50%);
            fill: $black;
        }

        &.active {
            & a{
                color:$black;
            }
            &::after {
                content:none;
            }

        }

        &::after {
            content: '>';
            position: absolute;
            top: 50%;
            right: -20px;
            transform: translateY(-50%);

        }
       

        &::before{
            content:none!important;
            font-size: 0;
            display: none;
        }

        
    }

    &::-webkit{
        &-scrollbar{
            height: 3px;

            &-button {
                background-image: url("");
                background-repeat: no-repeat;
                height: 3px;
            }

            &-track {
                background-color: #ecedee;
            }

            &-thumb {
                -webkit-border-radius: 20px;
                border-radius: 20px;
                background-color: #c5c5c557;

                &:hover {
                    background-color: #c5c5c557;
                    -webkit-border-radius: 20px;
                    border-radius: 20px;
                }
            }
        }

        &-resizer {
            background-image: url("");
            background-repeat: no-repeat;
            height: 3px;
        }
    }
}
