.copyright {
    color: $VIPlightgrey;
    padding: 10px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & p{
        font-size: 14px;
        margin-bottom: 0;
    }



    @media(max-width:420px) {
        flex-flow: row wrap;
        padding-right:60px;
        justify-content: flex-start;

        & p:first-child{
            margin-right: 45%;
        }

        & a{
            margin-left: 0;
        }
    }

    @media(max-width:768px) {
        & p{
            font-size: 10px;
        }
    }

    @media(min-width: 768px) and (max-width:992px) {

        p{
            font-size: 12px;
        }
    }

    & a {
        margin-right: 10px;
        margin-left: 10px;
        color: $VIPlightgrey;

        @media(max-width: 420px){
            margin-left: 0;
        }
    }

    &-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-left: 30px;

        @media( max-width: 420px){
            position: absolute;
            top:50%;
            transform: translateY(-50%);    
            right: 20px;
        }

        & svg{
            width: 20px;
            height: 20px;
            fill: rgb(238, 56, 64);
        }
    }

    &-sepatator{
        position: relative;
        
    &:before {
        content: "";
        height: 1px;
        width: 100%;
        background: $lightgrey;
        opacity: .3;
        position: absolute;
        top: 0;
        left: 0;
    }
    }

}
