.download{
    &-cat{
        &__btn{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            border-radius: 4px;
            margin-left: 10px;
            position: relative;
            font-size: 14px;
            font-family: Roboto, sans-serif;
            height: 40px;
            width: 100%;
            margin-bottom: 2px;
            max-width: 200px;
            border: none;
            background: none;

            @media(max-width:575px){
                display: none;
            }

            & svg {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
}