#enterModal {

    .form-group, .form-block{
        max-width: 100%;
        width: 100%;
    }


    & .line{
        display: flex;
        align-items:center;
        justify-content:center;
        position: relative;

        &::before, &::after {
            position: absolute;
            display: flex;
            content: "";
            width: 1px;
            height: 40%;
            background: rgb(216, 216, 216);

            @media(max-width:768px){
                height: 1px;
                width: 40%;
            }
        }

        &::after {
            bottom: 0px;

            @media(max-width:768px){
                right: 0;
                bottom: 50%;
            }
          }
          &::before {
            top: 0px;
            @media(max-width:768px){
                top: 50%;
                left: 0;
            }
          }

          @media(max-width: 768px){
              width: 100%;
          }

          
    }

    @media (max-width:768px) {
        padding: 0 !important;
    }

    & .modal-dialog {
        max-width: auto;

        @media(min-width:768px) and (min-width:1470px) {
            max-width: 600px;
        }

        @media (max-width:768px) {
            min-width: 100%;
            align-items: flex-start;
            width: 100%;
            height: auto;
            min-height: 100%;
            margin: 0;
        }

    }

    & .form-group-center{
        display: flex;
        justify-content: center;
    }

    & #pills-enter form, #pills-registration form {
        position: relative;
        display: flex;
        flex-direction: row;

        

        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    & .modal-content {
        width: 100%;
        height: 100%;
        border: none;
    }

    & .checkbox-filter {
        margin-left: 5px;
    }

    & .another-autr {
        display: flex;
        flex-direction: column;
    }

    & .modal-enter-content {
        @media (max-width:768px) {
            min-height: 100vh;
        }
    }

    & .modal-body, & .modal-enter-header {
        @media (max-width:768px) {
            padding: 20px;
        }
    }

}

.nav{
    &-pills{
        &-enter{
            width: 100%;
        }
    }
    &-enter{
        &-item{
                position: relative;
                margin-right: 10px;
                font-weight: 400;
                font-size: 20px;
                &:first-child::after {
                    position: absolute;
                    content: "/";
                    font-weight: 600;
                    top: 0px;
                    right: -8px;
                }
                &:hover{
                    color: $black;
                }
        }

        &-link{
            font-weight: 400;
            color: $VIPgrey;

            &.active{
                color: $black;
            }

            &:hover{
                color: $black;
            }
        }
    }
}
