#FilterForm {
    width: 100%;
    font-family: 'Montserrat', sans-serif;


    @media(min-width:992px) and (max-width:1200px) {
        height: auto;
        background: none;
    }
    @media (max-width:992px) {
        height: 100%;
        overflow: hidden;

        & #collapse-group {
            margin-bottom: 60px;
        }
    }

    @media(min-width:500px) and (max-width: 992px) {
        width: 50%;
        z-index: 4;
    }
}

#mobileFilter {
    position: fixed;
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;

    @media (min-width:1470px) {
        z-index: 0;
        position: static;
        height: auto;
        background: none;
    }

    @media(min-width:1200px) and (max-width:1470px) {
        position: static;
        z-index: 0;
    }

    @media(min-width:992px) and (max-width:1200px) {
        z-index: 0;
        position: static;
        height: auto;
        background: none;
    }

    @media(min-width:768px) and (max-width:992px) {
        height: 100vh;
    }

    @media(min-width:500px) and (max-width: 992px) {

        background: rgba(0, 0, 0, 0.3);

        &.show #FilterForm {
            animation: showInLeft 0.5s;
            -webkit-animation: showInLeft 0.5s;
            transform: translateX(0%);
            transition: all 0.3s ease-in-out;
        }

        & #FilterForm {
            animation: hideInLeft 0.5s;
            -webkit-animation: hideInLeft 0.5s;
            transform: translateX(-100%);
            transition: all 0.3s ease-in-out;
        }

    }
}

.filter {
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    &-form {
        &-wrapper {
            background: $white;
            border: 1px solid #d8d8d8;
            box-shadow: rgba(0, 0, 0, 0.17) 0 0 5px;
            border-radius: 4px;
            padding: 4px;

            @media(min-width:992px) and (max-width:1200px) {
                height: auto;
            }

            @media (max-width:992px) {
                height: 100%;
                overflow-y: auto;
                overflow-x: hidden;
                padding: 0;

            }
        }

        &__header {
                padding: 10px;
                width: 100%;
                min-height: 50px;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.17) 0 0 8px;
                z-index: 4;

                @media(max-width:992px){
                    position: sticky;
                    top:0;
                    left: 0;
                }
    
                & h5 {
                    line-height: 1;
                    margin: 0;
                }
    
                & .close {
                    position: absolute;
                    left: 5px;
                    width: 70px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: row nowrap;
                    font-size: 15px;
                    font-weight: 400;
                    color: #000;
            }
        }

        &__footer{
            display: flex;
            align-items:center;
            justify-content:space-around;
            background:$white;
            box-shadow: rgba(0, 0, 0, 0.17) 0px 0px 8px;
            width: 100%;
            padding: 10px;
            z-index: 4;
            @media(max-width:992px){
                position: absolute;
                bottom:0;
                left: 0;
            }
        }

        &__body{
            &::-webkit {

                &-resizer {
                    background-image: url("");
                    background-repeat: no-repeat;
                    width: 3px!important;
                    height: 0;
                }

                &-scrollbar {
                    width: 3px!important;
  
                    &-button {
                        background-image: url("");
                        background-repeat: no-repeat;
                        width: 3px!important;
                        height: 0;
                    }

                    &-track {
                        background-color: #ecedee;
                    }

                    &-thumb {
                        -webkit-border-radius: 20px;
                        border-radius: 20px;
                        background-color: rgb(238, 56, 64);

                        &:hover {
                            background-color: rgb(238, 56, 64);
                        }
                    }
                }
            }
        }

        &-sticky {
            &-top {
    
                @media (max-width:992px) {
                    position: sticky;
                    top: 0;
                    z-index: 3;
                }
            }

            &-bottom {
    
                @media (max-width:992px) {
                    position: sticky;
                    bottom: 0;
                    z-index: 3;
                }
            }
        }

        &__choise, &__clear{
            border:none;
            height: 40px;
            border-radius: 4px;
            font: 400 14px 'Montserrat', sans-serif;
            overflow: hidden;
            position: relative;
            width: 100%;
            padding:10px 5px;
            &:hover{
                &::after{
                    content:'';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background:rgba(0, 0, 0, 0.1);
                    display: flex;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &__choise{
            background-color: $blue;
            color:$white;
            margin-right: 5px;
        }

        &__clear{
            background: none;
            color: $blue;
            border: 1px solid $blue;
            transition: all 0.3s ease-in-out;
            margin-left: 5px;
        }
    }

    &__item {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        padding: 10px;
        text-align: left;

        &-head {
            position: relative;
            padding: 0 20px 0 0;
            cursor: pointer;
            font-size: 16px;
            color: $black;
            font-weight: 400;

            &::after,
            &::before {
                content: '';
                position: absolute;
                top: 30%;
                //transform: translateY(-50%);
                background: #d8d8d8;
                width: 10px;
                height: 1px;
                border-radius: 2px;
            }

            &::after {
                transform: rotate(45deg);
                right: 8px;
                transition: all 0.3s ease-in-out;
            }

            &::before {
                transform: rotate(-45deg);
                right: 0;
                transition: all 0.3s ease-in-out;
            }

            &[aria-expanded = "true"]::after {
                transform: rotate(-45deg);
                transition: all 0.3s ease-in-out;
            }

            &[aria-expanded = "true"]::before {
                transform: rotate(45deg);
                transition: all 0.3s ease-in-out;
            }
        }

        &-group{
            display: flex;
            align-items:flex-start;
            justify-content:flex-start;
            flex-direction: column;

            & label{
                cursor: pointer;
                color:$VIPgrey;
                
                &:first-child{
                    margin-top: 20px;
                }
            }

            
        }

        &--hiden {
            display: none;
        }
    }

    &-all {
        &--show{
            position: relative;
            border-bottom: 1px dashed $blue;
            color: $blue;
            font-size: 14px;
    
            &:before {
                content: 'Показать все';
                margin-right: 5px;
            }
    
            &-icon {
                display: inline-block;
                position: relative;
                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 3px;

                &::after, &::before {
                    position: absolute;
                    content: '';
                    width: 6px;
                    background: $blue;
                    height: 1px;
                    border-radius: 2px;
                    bottom: 0;
                }
    
                &::after {
                    left: -1px;
                    transform: rotate(-45deg);
                    transition: all 0.3s ease-in-out;
                }
    
                &::before {
                    right: -1px;
                    transform: rotate(45deg);
                    transition: all 0.3s ease-in-out;
                }
            }
    
            &.show{
                &:before {
                    content: 'Свернуть';
                    margin-right: 5px;
                }
    
                & .filter-all--show-icon{
    
                    &::before {
                        right: -1px;
                        transform: rotate(-45deg);
                        transition: all 0.3s ease-in-out;
                    }
    
                    &::after {
                        left: -1px;
                        transform: rotate(45deg);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    &-title{
        &-block{
            font-size: 18px;
            color: rgb(65, 65, 65);
            font-weight: 500;
            display: flex;
            margin-bottom: 13px;
            margin-top: 10px;
            margin-left: 8px;

            & svg {
                width: 27px;
                fill: rgb(65, 65, 65);
                margin-right: 5px;
                margin-top: -7px;
              }
        }
    }
}

.irs--flat{
    margin-top: 20px;
    height: 60px;
}

.irs--flat .irs-bar {
    background-color: $black;
}

.irs--flat .irs-line, .irs--flat .irs-bar{
    top: 29px;
    height: 5px
}

.irs--flat .irs-handle > i:first-child{
    background-color: $black;
    width: 3px;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before{
    border-top-color: $black;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    color: $black;
    background-color:transparent;
}
