.jumbotron {
    &-basket {
        background: $white;
        padding: 1px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
        border-radius: 4px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 10px;

        &-close {
            margin: 0;
            width: auto;
            width: 35px;
            height: 35px;
            position: relative;
            overflow: hidden;
            position: absolute;
                right: 5px;
                top:18px;
                display: flex;
                justify-content:center;
                align-items:center;

            @media(max-width:768px){
                position: absolute;
                right: 5px;
                top: 5px;
            }

            & svg {
                width: 15px;
                height: 15px;
                fill: #000;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            overflow: hidden;
            width: 40px;
            height: 40px;
            font-weight: 900;

            & &--hide {
                display: none;
            }

            & img {
                max-width: 40px;
                max-height: 40px;
                width: auto;
                height: auto;
            }
        }

        &-btn-block {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-flow: row wrap;

            &--wrapper {
                justify-content: flex-end;
                width: 100%;

                @media (max-width:768px) {
                    justify-content: center;
                }
            }

            & button {
                margin: 5px 10px;
                margin-right: 40px;

                @media(max-width:400px){
                    margin: 5px 10px;
                }

                &.close {
                    margin-right: 0;
                    margin-left: 20px;
                    margin-right: -10px;

                    @media(min-width:768px) and (max-width:992px) {
                        margin-left: 10px;
                    }

                    @media (max-width:768px){
                        margin-right: 0;
                    }
                }

                &.jumbotron-basket-close {
                    @media (max-width:768px) {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 14px;
                        right: 20px;
                    }
                }
            }

            & .btn-color {
                background: $blue;
                color: $white;
                text-transform: uppercase;

                &:hover {
                    transition: all 0.3s ease-in-out;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                }
            }

            & .in-basket {
                color: $blue;
                margin-right: 5px;
                transition: all 0.3s ease-in-out;
                position: relative;
                font-weight: 400;

                &:hover {
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 100%;
                        bottom: 0;
                        border-bottom: 1px $blue dashed;
                        transition: all 0.3s ease-in-out;
                    }
                }

                @media(max-width: 400px){
                    display: none;
                }
            }
        }

        &-btn-block,
        &-title {
            min-width: 200px;
            height: 100%;
            padding: 5px;
        }

        &-list,
        &-title {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            margin: 0;
        }

        &-title {
            a {
                color: $blue;
            }

            & h3 {
                font-weight: 400;
                font-size: 18px;
                margin: 0;
            }
        }

        &-list {
            list-style: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: row wrap;
        }

        span {

            &-currency {
                font-weight: 400;
                font-size: 14px;
                font-family: sans-serif;
            }

            &-price {
                font-weight: 400;
                font-size: 18px;
            }
        }

    }

}

#jumbotronBasket {
    position: relative;
    @media (max-width:1199px) {
        margin: 15px;
    }

}

