.marker{
    &-block {
    position: absolute;

    &-right{
        position: absolute;
        right: 5px;
        top: 5px;
        margin: 0;
        padding: 0;
        list-style: none;
        

        &__item {
            
            width: 30px;
            height: 30px;
            border-radius: 50%;

            &--premium {
                height: 100%;
                
                background: url('./../img/svg/premium.svg') center center no-repeat;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 2px 5px;
        background: rgba(181, 181, 181, 0.2);
        font-size: 0;
        transition: all .3s ease-in-out;

        &--action {
            background: red;
            color: $white;
        }

        &--gift {
            background: rgb(4, 165, 177);
            color: $white;
        }

        &--sale {
            background: rgb(252, 164, 2);
            color: $white;
        }

        &:hover{
            font-size: 12px;
            transition: all .3s ease-in-out;
        }

        &-icon {
            max-width: 20px;
            max-height: 20px;
            padding: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & svg {
            fill: $white;
            width: 20px;
        }
    }
    }
}