.mob {
    &-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: -100%;
        background: $white;
        z-index: 1041;
        width: 100%;
        height: 100vh;
        border-right: 1px solid #e8e8e8;
        transition: all 0.5s ease-in-out;
        max-width: 300px;

        &--active {
            left: 0;
            transition: all 0.5s ease-in-out;
        }

        &--wrapper {
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: column;

        }

        &-header {
            background: $black;
            padding: 5px 10px;
            display: flex;
            justify-content: space-between;
            flex-flow: row wrap;
            height: 100%;
            max-height: 110px;
            min-height: 80px;
            position: relative;

            &__button {
                border: none;
                background: none;
                color: $white;
                padding: 0 10px;
                font-weight: 400;
                font-size: 14px;
                position: relative;
                margin-left: 36px;

                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: $white;
                }

                &-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;

                    & svg {
                        fill: $white;
                        width: 20px;
                    }

                    & .mob-menu-icon {
                        top: 50%;
                    }
                }

                &-lk {
                    background: none;
                    border: none;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    bottom: 8px;

                    &.active &-icon {
                        &::after {
                            top: 3px;
                            transform: rotate(45deg);
                            transition: all 0.3s ease-in-out;
                        }
                        &::before {
                            bottom: 3px;
                            transform: rotate(-45deg);
                            transition: all 0.3s ease-in-out;
                        }
                    }

                    &-icon {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;

                        &::after {
                            top: 2px;
                            transform: rotate(135deg);
                            transition: all 0.3s ease-in-out;
                        }

                        &::before {
                            bottom: 2px;
                            transform: rotate(-135deg);
                            transition: all 0.3s ease-in-out;
                        }

                        &::after,
                        &::before {
                            position: absolute;
                            content: '';
                            width: 10px;
                            background: white;
                            height: 2px;
                            border-radius: 2px;
                        }
                    }

                }

                &:nth-child(3) {
                    &:after {
                        display: none;
                    }
                    margin: 0;
                }
            }

            & .languages {

                &-block {
                    max-height: 40px;
                }

                &__item {
                    a {
                        color: $white;
                    }

                    &--active {
                        &a {
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
            }
        }

        &-body {
            display: flex;
            background: $white;
            position: relative;
            overflow-y: auto;
            height: calc(100% - 150px);
            & nav{
                width: 100%;
            }

            &::-webkit {
                &-scrollbar {
                    width: 3px;

                    &-button {
                        background-image: url("");
                        background-repeat: no-repeat;
                        width: 3px;
                        height: 0;
                    }

                    &-track {
                        background-color: #ecedee;
                    }

                    &-thumb {
                        -webkit-border-radius: 20px;
                        border-radius: 20px;
                        background-color: rgb(238, 56, 64);
                        &:hover {
                            background-color: rgb(238, 56, 64);
                        }
                    }

                    &-resizer {
                        background-image: url("");
                        background-repeat: no-repeat;
                        width: 3px;
                        height: 0;
                    }
                }
            }
        }

        &-logo {
            width: 170px;
            max-height: 50px;
            margin-top: 5px;
            margin-left: 10px;

            &-path {
                &-1,
                &-3 {
                    fill: $white;
                    width: 100%;
                }

                &-2 {
                    fill: $red;
                }
            }

        }

        &-icon {
            position: absolute;
            top: 35%;
            transform: translateY(-50%);
            left: 16px;

            &--white {
                fill: $white;
                top: 45%;
                margin-left: -3px;
            }
        }

        &-catalog {
            &-back {
                background: $lightgrey;

                & svg {
                    transform: rotate(180deg);
                    top: 20%;
                }
            }
        }
    }

    &-nav {
        &-info,
        &-lk,
        &-main,
        &-user {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: column nowrap;
            width: 100%;
            border-bottom: 1px solid #e8e8e8;
            padding: 15px 0;
            overflow: hidden;

            & li {

                list-style: none;
                width: 100%;

                & a {               
                    position: relative;
                    display: flex;
                    width: 100%;
                    flex-flow: row nowrap;
                    padding: 10px 30px 10px 55px;
                    transition: all 0.3s ease-in-out;
                    height: 40px;
                    color: $black;
                    font: 400 15px 'Montserrat', sans-serif;

                    &:hover {
                        background: $lightgrey;
                        transition: all 0.3s ease-in-out;
                    }

                    & span {
                        height: 100%;
                        font-size: 15px;
                    }

                    & svg {
                        width: 20px;
                        height: 20px;
                        margin: 5px;
                        fill: $black;

                        &.arrow {
                            position: absolute;
                            top: 36%;
                            transform: translateY(-50%);
                            right: 5px;
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }

        &-lk {
            padding: 0;
            position: absolute;
            top: 0;
            right: 100%;
            transition: all 0.3s ease-in-out;
            height: 100%;

            &.active {
                position: absolute;
                top: 0;
                right: 0;
                background-color: $white;

                transition: all 0.3s ease-in-out;
            }
        }

        &-main {
            &-second,
            &-third {
                position: absolute;
                top: 0;
                left: -100%;
                z-index: 20;
                transition: all 0.3s ease-in-out;
                background: $white;
                display: flex;
                flex-flow: column nowrap;
                z-index: 2;
                width: 100%;
                height: 100%;

                & li .active,
                &.active {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}
