.modal {

    &-dialog {
        &-filter {
            margin: 0;
            width: 100%!important;
            background: #fff;
        }
    }

    &-filter {

        margin: 0;
        max-width: 100vw;
        border: none;

        &-content {
            border-radius: 0;
            min-height: 100vh;
        }

        &-header {
            min-height: 100px;
            padding: 10px 40px 10px 10px;
            position: relative;
            border: 1px solid #d8d8d8;
        }
    }

    &-header {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    &-title {
        width: 90%;
    }

    &-backdrop {
        opacity: 0.4;
    }

    &-footer {
        border: none;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 10%;
            width: 80%;
            height: 1px;
            background: #d8d8d8;
        }

        &-basket {
            flex-flow: column nowrap;
            box-shadow: rgba(0, 0, 0, 0.17) 0 0 8px;

            &::before {
                content: none;
            }
        }
    }

    &-add {
        &-compare {
            &-header {
                position: absolute;
                top: 0;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
                width: 100%;
                z-index: 11;
                background: #fff;

                & .close {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
            &-content {
                position: relative;
            }
        }
    }

    &-basket {
        
        &-header {
            position: absolute;
            top: 0;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
            width: 100%;
            z-index: 11;
            background: #fff;

            & .close {
                position: absolute;
                right: 5px;
                top: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content:center;
                align-items:center;
    
                & svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

        &-content {
            position: relative;
        
        }

        
    }

    &-body {
        &-basket {
            overflow-y: auto;
        }

        &-add {
            &-compare {
                overflow-y: auto;
            }
        }
    }

    &-enter {
        &-header {
            padding: 1rem;

            @media (max-width:768px) {
                padding: 0;
            }

            & .close {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }

        &-close {
            display: flex;
            justify-content:center;
            align-items:center;
            width: 30px;
            height: 30px;
            
            & svg{
                width: 15px;
                height: 15px;
            }
        }
    }

    &-content {

        border-radius:4px;

        &.modal-basket-content {
            max-height: 90vh;
        }

        & .modal-body-add-compare {
            max-height: 90vh;
        }

    }

    &-subscribe {
        &-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 1rem;

            & h5 {
                font-weight: 400;
                font-size: 17px;
            }

            & button.close {
                width: 30px;
                height: 30px;
                margin-top: -10px;
                margin-right: -10px;
                display: flex;
                justify-content:center;
                align-items:center;

                & svg {
                    width: 15px;
                    height: 15px;
                }
            }
        }

    }
}