.order {
    &-column{
       // position: relative;
        @media (max-width:992px){
        display: flex;
        flex-direction: column;
        align-items: center;
        }
    }
    &-block {
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        padding: 20px;
        background: $white;
        box-shadow: 0 0 5px rgba(0,0,0,.17);
        margin-bottom: 10px;
        width: 100%;
        @media (max-width:992px){
            max-width: 480px;
        }

        &__btn{
            &-reg{
                @extend .btn;
                text-transform: uppercase;
                border: 1px solid $black;
                color: $black;
                transition: all .3s ease-in-out;

                &:hover{
                    color:$white;
                    transition: all .3s ease-in-out;
                    background:$black;
                }
            }

            &-join{
                @extend .btn;
                text-transform: uppercase;
                border: 1px solid $black;
                color: $black;
                transition: all .3s ease-in-out;

                &:hover{
                    color:$white;
                    transition: all .3s ease-in-out;
                    background:$black;
                }
            }

        }

        &-sticky{
            position: sticky;
            top: 10px
        }

        &__title {
            margin-bottom: 20px;
            & h3 {
                font-weight: 400;
            }
        }

        &__info {
            &-body {

                &_user {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;

                    &-item {
                        position: relative;

                        & .active:after {
                            content: '';
                            position: absolute;
                            bottom: 5px;
                            left: 0;
                            width: 100%;
                            background-color: $black;
                            height: 2px;
                        }
                    }

                    &-link {
                        background: none !important;
                        color: $black !important;

                        & .active {
                            color: $black !important;

                        }
                    }
                }
            }
        }

        &-basket {

            &__info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                & span {
                    @extend h4;
                    margin: 0;
                }
            }

            &__footer {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 20px;
            }

            &__total {
                @extend .product-item__wrapper-price_new;
                font-size: 24px !important;
                font-weight: 500!important;

                &-currency {
                    @extend .product-item__wrapper-price_new-currency;
                    font-size: 18px !important;
                    font-weight: 500!important;
                    margin-bottom: 0;
                }
            }

            &__buy {
                @extend .btn;
                border: 1px solid $black;
                color: $black;
                transition: all .3s ease-in-out;
                width: 100%;
                text-transform: uppercase;

                &:hover{
                    transition: all .3s ease-in-out;
                    background: $black;
                    color: $white;
                }
            }
        }

        &__delivery {
            &-autocomplete {
                @extend .form-control;
                width: 100%;
                margin-bottom: 10px;
            }

            &-way {
                color: #000;
                font-weight: 400;
                border-bottom: 1px dashed #004467;
                margin-right: 10px;

                &:hover {
                    color: $black;
                }

                &-group {
                    width: 100%;
                }
            }

            &-item {
                margin-bottom: 20px;

                &-header {
                    margin-bottom: 20px;
                }

            }

        }

        &__pay{

            & textarea{
                margin-bottom: 20px;
                background:$white!important;
                border: 1px solid $border-color !important;
            }
        }
    }

    &-column-title {
        padding: 15px 0;
    }

}
