.filter {
    &-cat {
        &-mob {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: $black;
            color: $white;
            width: 140px;
            font-size: 15px;
            margin: 10px 2px;
            height: 40px;

            & svg {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                fill: $white;
            }

            &:hover {
                color: $white;
            }
        }
    }
}

.adress-block {
    height: 100%;
    font-size: 14px;
    font-weight: 700;
    margin-right: 50px;
    transition: all 0.3s ease-in-out 0s;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    & a {
        color: $grey;
        margin-right: 15px;
        font-size: 18px;

        &:hover {
            color: $blue;
        }
    }

    &-icon {
        width: 15px;
        fill: red;
    }
}

.wrapper {
    &-button {
        &-lk {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &-main {
        &-block {
            padding: 10px 0 0 10px;

            @media (max-width: 1200px) {
                padding: 0;
            }
        }
    }
}

.p-lg-none {
    @media (max-width:1199px) {
        padding: 0 !important;
    }
}

.form {
    &-group {
       // max-width: 440px;
        &-row {
            position: relative;
            display: flex;
            flex-direction: row;
        }
    }

    &-block{
        width: 100%;
        //max-width:440px;
    }
}

.title-page {
    h1 {
        padding: 0 15px;
    }
}

.info-content {
    margin-bottom: 20px;
}

.form-control.cooperation{
    border: $border !important;
}