.seo {
    padding: 76px 0 53px;
    font-size: 15px;

    p {
        margin-bottom: 26px;
        
        @media (max-width: 992px){
            margin-bottom: 21px;
            line-height: 1.5;
        }
    }

 

    @media (max-width: 992px) {
        padding: 47px 0 27px;
        font-size: 15px;
    }

    &-main{
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 30px;

        & ul,ol{
            margin-left: 20px;
        }
    }

    &-content{
        &-prev{
            position: relative;
            &:before{
                content: "";
                background: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,98%,0)),to($BGlightgrey));
                background: linear-gradient(180deg,hsla(0,0%,98%,0),$BGlightgrey);
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                height: 70px;
            }
        }

    } 

    &-collapse{

        &-btn{
            color: $black;
            cursor:pointer;
            background:none;
            border:none;
            border-bottom:1px dashed $black;
        }
        &-shadow{
            box-shadow: rgba(250,250,250,1) 10px 0 0.3;
        }
    }
}