#subscribeBtn {
    border: 1px solid $black;
    color: $black;
    background:$white;
    padding: 6px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.subscribe{
    text-align: center;
    padding: 34px 0;
    position: relative;
    &:after{
        content:'';
        position: absolute;
        height: 1px;
        background:#d8d8d8;
        width: 75%;
        left: 15%;
        bottom: 0;
    }

    

    @media (min-width: 992px) {
        padding: 20px 0;  
    }
    @media (min-width: 768px) {
        text-align: center;
    }

    &-main{
        background:$lightgrey;
        padding-top: 60px;
        padding-bottom: 60px;

        @media(max-width:768px){
            padding-top: 40px;
        padding-bottom: 40px;
        }

        & .form-group{
            max-width: 100%;
            margin-bottom: 0.5rem;
            & input, select{
                background:$white;

            }
        }

        & textarea{
            height: 100px;
        }

        & form{
            display: flex;
            justify-content: start;
            flex-flow: column nowrap;
        }

        & h1,h2,h3,h4,h5,h6{
            color:$red;
            margin-bottom: 30px;
            letter-spacing: .03rem;
        }
        & h2{
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
        }
        
        & ul{
            list-style: none;

            & li{
                position: relative;
                margin-bottom: 10px;
                 & p{margin: 0;}
            }
        }

        
    }

    &-icon{
        background: url('./../img/svg/tick.svg') center center no-repeat;
        fill: $black;
        width: 17px;
        height: 17px;
        margin-right: 10px;
        margin-top: -3px;

    }

    &-title{
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 3px;

    }

    &-btn {
        @extend .btn;
        background: transparent;
        border-radius: 4px;
        border: 1px solid $black;
        color: $black;
        height: 45px;
        text-transform: uppercase;

        &:hover{
            background:$black;
            color:$white;
        }
    }

    &-input {
        width: 100%;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    &-form{
        & input{
        border-radius: 4px;
        border: 1px solid #d8d8d8;
        }
    }



    & .label {

        font-weight: 400;
        font-size: 20px;
        margin-right: 30px;

        @media (max-width: 992px) {
            display: inline-block;
            vertical-align: middle;
            color: #000;
            font-size: 16px;
            margin-right: 42px;
            padding-left: 9%;
            width: 42%;
            text-align: right;
        }

        @media (max-width: 768px) {
            font-size: 17px;
            margin-right: 0;
            padding-left: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 17px;
        }
    }
}


.btn-subscribe-form {
    background: $blue;
    color: $white;
    font: 400 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-right: 7%;
}

.btn-subscribe-form:hover {
    color: rgb(221, 221, 221);
}

.btn-subscribe-form-break {
    background: none;
    color: $grey;
    font-weight: 600;
}


