@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 77, 119, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 77, 119, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 77, 119, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 77, 119, 0.6);
        box-shadow: 0 0 0 0 rgba(0, 77, 119, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(0, 77, 119, 0);
        box-shadow: 0 0 0 10px rgba(0, 77, 119, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(0, 77, 119, 0);
        box-shadow: 0 0 0 0 rgba(0, 77, 119, 0);
    }
}

@keyframes showInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@-webkit-keyframes showInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes hideInLeft {
    0% {
        transform: translateX(0%);

    }
    100% {
        transform: translateX(-100%);

    }
}
@-webkit-keyframes hideInLeft {
    0% {
        transform: translateX(0%);

    }
    100% {
        transform: translateX(-100%);

    }
}

@keyframes shift {

    0% {
        opacity: 0;
    }

    2% {
        opacity: 1;
        transform: translateX(0);
    }
    15% {
        transform: translateX(-52px);
    }
    30% {
        transform: translateX(-102px);
    }
    45% {
        transform: translateX(-152px);
    }
    60% {
        transform: translateX(-202px);
    }
    75% {
        transform: translateX(-252px);
    }
    90% {
        transform: translateX(-252px);
        opacity: 1;
    }
    100% {
        transform: translateX(-252px);
        opacity: 0;
    }
}
@-webkit-keyframes shift {

    0% {
        opacity: 0;
    }

    2% {
        opacity: 1;
        transform: translateX(0);
    }
    15% {
        transform: translateX(-52px);
    }
    30% {
        transform: translateX(-102px);
    }
    45% {
        transform: translateX(-152px);
    }
    60% {
        transform: translateX(-202px);
    }
    75% {
        transform: translateX(-252px);
    }
    90% {
        transform: translateX(-252px);
        opacity: 1;
    }
    100% {
        transform: translateX(-252px);
        opacity: 0;
    }
}

