/*color*/
$blue: #004d75;
$red: rgb(255, 0, 0);
$border: 1px solid #d8d8d8;
$border-color:#d8d8d8;
$lightgrey:rgb(218, 218, 218);
$grey:#51595d;
$white: #fff;
$black: #000;
$BGlightgrey:#fafafa;
$VIPgrey:#5e5e5e;
$VIPligthgrey:#a3a3a3;

