.burger_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        display: flex;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        background: $white;
        overflow: hidden;

        &::after,
        &::before {
            content: '';
            height: 2px;
            width: 100%;
            max-width: 30px;
            border-radius: 2px;
            background: $white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        &::after {
            top: 34%;
        }

        &::before {
            bottom: 34%;
        }
    }

    @media (max-width:768px) {
        padding: 0;
        display: flex;
    }

}