.cat_btn {
    height: 100%;
    width: 100%;
    position: relative;
    color:$white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $black;
    font-size: 20px;
    padding: 0 20px;
    line-height: 16px;
    transition: all .3s ease-in-out;

    &:hover {
        color: $white;
        cursor: pointer;
        background: rgb(29, 29, 29);
        transition: all .3s ease-in-out;

        & svg {
            fill: $white;
        }
    }

    & svg {
        margin-right: 10px;
        fill: $border-color;
        width: 22px;
        display: flex;
    }

    &-hover {
        &:hover > .category-menu-nav--hov-wrapper {
            display: block;
            margin-top: 0;
            background: $white;
            border-radius: 4px;
    
            @media(min-width:992px) and (max-width:1199px) {
                display: none;
            }
    
            @media(min-width:768px) and (max-width:992px) {
                display: none;
            }
    
            @media (max-width:768px) {
                display: none;
            }
        }
    }

}