.marker{

    &-block{

        &-counter {
            color: $black;
            font-weight: 700;
            font-size: 10px;
        }

        &-header{
            &.marker-block-mob-menu {
                position: absolute;
                left: 30px;
                top: 5%;
                background: $lightgrey;
                border-radius: 3px;
                padding: 1px 4px;

                & .marker-block-counter {
                    font-size: 8px;
                    color: $black;
                }
            }
        }
    }

}