<% var data = {
                title: "Сравнение товара | Skalat.ua",
                author: "vlasenko$",
                titlePage: "Сравнение товара"
}; %>
    <%= _.template(require('./../includes/_header.html').default)(data) %>
    <!-- MAIN START -->
    <main>
        <%= _.template(require('./../includes/_progres.html').default)(data) %>
        <%= _.template(require('./../includes/_breadcrumbs.html').default)(data) %>
        <%= _.template(require('./../includes/_title-page.html').default)(data) %>
        <%= _.template(require('./../includes/_compare-section.html').default)(data) %>
        <%= _.template(require('./../includes/_product-line.html').default)(data) %>
        <%= _.template(require('./../includes/_main-seo-section.html').default)(data) %>
        <%= _.template(require('./../includes/_main-subscribe-section.html').default)(data) %>
    </main>
    <!-- MAIN END -->
<%= _.template(require('./../includes/_menu.html').default)(data) %>
<%= _.template(require('./../includes/_add-to-compare.html').default)(data) %>
<%= _.template(require('./../includes/_basket.html').default)(data) %>

<%= _.template(require('./../includes/_form-enter.html').default)(data) %>
<%= _.template(require('./../includes/_footer.html').default)(data) %> 