<% var data = {
  title: "Контакты | Skalat.ua",
  author: "vlasenko$",
  titlePage: "Контакты"
}; %>
<%= _.template(require('./../includes/_header.html').default)(data) %>
<!-- MAIN START -->
<main>
  <%= _.template(require('./../includes/_progres.html').default)(data) %>
  <%= _.template(require('./../includes/_breadcrumbs.html').default)(data) %>
  <%= _.template(require('./../includes/_title-page.html').default)(data) %>
  <%= _.template(require('./../includes/Information_page_component/_contact-content.html').default)(data) %>
  
  <%= _.template(require('./../includes/_main-seo-section.html').default)(data) %>
  <%= _.template(require('./../includes/_main-subscribe-section.html').default)(data) %>
</main>
      <!-- MAIN END -->
<%= _.template(require('./../includes/_menu.html').default)(data) %>
<%= _.template(require('./../includes/_basket.html').default)(data) %>

<%= _.template(require('./../includes/_form-enter.html').default)(data) %>
<%= _.template(require('./../includes/_footer.html').default)(data) %> 