<% var data = {
title: "Избранные товары | Skalat.ua",
author: "vlasenko$",
titlePage: "Избранные товары"
}; %>
    <%= _.template(require('./../includes/_header.html').default)(data) %>
    <!-- MAIN START -->
    <main>
        <%= _.template(require('./../includes/_progres.html').default)(data) %>
        <%= _.template(require('./../includes/_breadcrumbs.html').default)(data) %>
        <%= _.template(require('./../includes/_title-page.html').default)(data) %>
        <div class="product-section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row grid-padding">
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                            <div class="col-lg-3 col-xl-2 col-md-3 col-sm-4 col-6">
                                <%= _.template(require('./../includes/_product-card-category-full--favorite.html').default)(data) %>                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <%= _.template(require('./../includes/_pagination.html').default)(data) %>
                    </div>
                </div>
            </div>
        </div>

        <%= _.template(require('./../includes/_main-subscribe-section.html').default)(data) %>

    </main>
    <!-- MAIN END -->
<%= _.template(require('./../includes/_menu.html').default)(data) %>
<%= _.template(require('./../includes/_basket.html').default)(data) %>

<%= _.template(require('./../includes/_form-enter.html').default)(data) %>
<%= _.template(require('./../includes/_footer.html').default)(data) %> 