<% var data = {
    title: "Каталог товаров | Skalat.ua",
    author: "vlasenko$",
    titleLeft: "Оформление заказа",
    titleRight: "Ваша покупка",
    }; %>
    <%= _.template(require('./../includes/_header-simple.html').default)(data) %>
    <!-- MAIN START -->
    <main>
        <%= _.template(require('./../includes/_progres.html').default)(data) %>
        <div class="container container-order">
            <div class="row">
                <!-- LEFT BLOCK START -->
                <div class="col-12 col-lg-6 col-xl-7 order-column">
                        <h1 class="order-column-title"><%=data.titleLeft%></h1>

                    <%= _.template(require('./../includes/_order-user.html').default)(data) %>
                    <%= _.template(require('./../includes/_order-delivery.html').default)(data) %>
                    <%= _.template(require('./../includes/_order-pay.html').default)(data) %>
                    <%= _.template(require('./../includes/_order-detail.html').default)(data) %>

                </div>
                <!-- LEFT BLOCK END -->
                <!-- RIGHT BLOCK START -->
                <div class="col-12 col-lg-6 col-xl-5 order-column">
                        <h2 class="order-column-title"><%=data.titleRight%></h2>

                    <div class="order-block order-block-sticky">

                        <!-- BLOCK BASKET PRODUCT START -->
                        <%= _.template(require('./../includes/_basket-item.html').default)(data) %>
                         <!-- BLOCK BASKET PRODUCT END -->
                         <!-- BLOCK BASKET PRODUCT START -->
                        <%= _.template(require('./../includes/_basket-item.html').default)(data) %>
                        <!-- BLOCK BASKET PRODUCT END -->
                        <!-- BLOCK BASKET PRODUCT START -->
                        <%= _.template(require('./../includes/_basket-item.html').default)(data) %>
                         <!-- BLOCK BASKET PRODUCT END -->

                         <div class="order-block-basket__footer">
                             <div class="order-block-basket__info">
                                <span>Всего к оплате</span>
                                <div class="order-block-basket__total">3960
                                    <div class="order-block-basket__total-currency">грн</div>
                                </div>
                             </div>
                             <button class="order-block-basket__buy">Оформить заказ</button>
                         </div>

                    </div>
                </div>
                <!-- RIGHT BLOCK END -->
            </div>
        </div>

    </main>
    <!-- MAIN END -->
    <%= _.template(require('./../includes/_footer-short.html').default)(data) %>