<% var data = {
  title: "Оплата | Skalat.ua",
  author: "vlasenko$",
  titlePage: "Оплата"
}; %>
<%= _.template(require('./../includes/_header.html').default)(data) %>
<!-- MAIN START -->
<main>
  <%= _.template(require('./../includes/_progres.html').default)(data) %>
  <%= _.template(require('./../includes/_breadcrumbs.html').default)(data) %>
  <%= _.template(require('./../includes/_title-page.html').default)(data) %>
  <%= _.template(require('./../includes/Information_page_component/_pay-content.html').default)(data) %>
  
  <%= _.template(require('./../includes/_subscribe-section.html').default)(data) %>
  <%= _.template(require('./../includes/_seo-section.html').default)(data) %>
</main>
      <!-- MAIN END -->
<%= _.template(require('./../includes/_menu.html').default)(data) %>
<%= _.template(require('./../includes/_basket.html').default)(data) %>
<%= _.template(require('./../includes/_subscribe.html').default)(data) %>
<%= _.template(require('./../includes/_form-enter.html').default)(data) %>
<%= _.template(require('./../includes/_footer.html').default)(data) %> 